@import '../modules/variables.scss';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;

  background-color: black;

  @include media(">desktop") {
    // everything calculated will scale fluidly after medium breakpoint
    font-size: calc(12px + 0.4vw);
  }
}

svg {
  width: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  background-color: $background-color;

  margin: auto;

  @include media('>phone') {
    min-height: 100vh;
  }
}

img {
  max-width: 100%;
  padding-bottom: to-rem(20px);
}
.word-break {
  display: block;
}

a {
  text-decoration: none; 
  &:any-link {
    color: #000000;
  }
}

.container {
    @include media('>phone'){
      padding: 0 to-rem(70px);
  }
}

.container--header {
    @include media('>phone'){
      display: flex;
      justify-content: space-between;
  }
}