.header {
    position: relative;
    z-index: 3;
    color: #fff;

    @include media('>phone') {
        padding: to-rem(20px) 0;
    }

    .auth {
        position: absolute;
        top: 0;
        right: 0;
    }

    .navigation-group {
        display: flex;
        align-self: center;
    }
}