.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;

    .overlay-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        top: 0;
        left: 0;
        opacity: 1;
    }

    .heading-container {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        color: $primary-color;
        
        .loading-heading {
            font-size: 3rem;
            margin: auto;
        }
    }
 
    .loading-bar {
        position: absolute;
        bottom: 0;
        height: 0.3rem;
        width: 1px;

        background-color: $primary-color;
    }

}