.mouse-cursor {
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: #ECB916;

    border-radius: 50% 50%;

    transition: transform;
    transition-timing-function: ease;

    z-index: 999999;

    user-select: none;
    pointer-events: none;

}