.mouse-cursor {
    width: 9px;
    height: 9px;
    background-color: $primary-color;

    transition: transform;
    transition-timing-function: ease;

    z-index: 999999;

    user-select: none;
    pointer-events: none;
    cursor: none;

    overflow: hidden;

    .active {
        transition: 0.2s transform ease-in-out;
        transform: scale(5); 
    }
}

// https://webdesign.tutsplus.com/tutorials/cursor-hover-effect-with-javascript-mouse-events-and-gsap--cms-38899