.navigation,
.navigation_two {
    font-family: $secondary-font;
    align-self: flex-end;

    @include media('>phone') {
        display: flex;
        flex-direction: row;
    }

    &__item {
        font-size: to-rem(20px);
        text-decoration: none;

        @include media('>phone') {
            padding-left: to-rem(40px);
        }
    }
}

.navigation_two {
    padding-right: to-rem(50px);
}

.navigation_two__item {
    font-size: to-rem(16px);
}