.navigation{
    font-family: $secondary-font;
    text-transform: uppercase;

    @include media('>phone') {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }

    &__item {
        font-size: to-rem(12px);
        text-decoration: none;

        border-bottom: 1px solid $primary-color;
        margin-right: to-rem(20);
        padding: to-rem(10) to-rem(0);

        width: 100%;

        &:last-of-type {
            margin-right: to-rem(0);
        }
    }
}