.product-list {
    padding: 0 to-rem(20px);

    @include media('>phone') {
        display: flex;

        padding: 0 to-rem(40px);
    }

    .product-container {
        padding-left: to-rem(20px);

        @include media('>phone') {
            max-width: to-rem(200px);

        }
    }

    a:first-of-type .product-container {
        padding-left: 0;
    }
}