.video-container {
    opacity: 1;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 0;

    .grain-overlay {
        opacity: 0.9;
        width: 100%;
        height: 100%;

        background-color: #2e2e2e;
        z-index: -1;
    }

    .grain {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 1;
        width: 100vw;
        height: 100%;
        background-image: url('/grain-3.gif');
        z-index: -2;

        opacity: 0.6;
    }
}