@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

// Colors
$background-color: #16191b;
$white: #FFFFFF;
$primary-color: #ECB916;
$base-font-size: 14px;
$white: #FFFFFF;
$black: #000;

// Typography
$primary-font:  'Montserrat', sans-serif; 
// $secondary-font: 'Noto Sans JP', sans-serif;
$secondary-font: 'Lato', sans-serif;

// font weight:
$base-light-font-weight: 100;
$base-lighter-font-weight: 300;
$base-font-weight: 400;
$base-semibold-font-weight:500;
$base-bold-font-weight: 700;